<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">

<div class="card p-0 cat " style="width: 12rem;">
    <div class="card-body p-2">
        <!-- <h5 class="card-title"> <a [routerLink]="category._id.toString()">{{category.name}}</a></h5> -->
        <h5 class="card-title"> <a>{{category.name}}</a></h5>

    </div>
</div>




<style>
    .cat:hover {
        -ms-transform: scale(1.5);
        /* IE 9 */
        -webkit-transform: scale(1.5);
        /* Safari 3-8 */
        transform: scale(1.5);
        font: xx-large;
        font-family: 'Libre Baskerville', serif;
    }
    
    .cat {
        border-radius: 5px;
        /* box-shadow: 3px 5px #00000048; */
        background-color: #0f0202;
        margin: auto;
        font-family: 'Libre Baskerville', serif;
        font-size: large;
        text-align: center;
    }
    
    a,
    p {
        color: cornsilk;
        text-decoration: none;
        font-size: 22px;
        font-family: 'Amiri', serif;
    }
    
    img {
        height: 180px;
    }
</style>