
<!-- <div class='background-photo'></div>

<div class="bg-img">
  <div class="container">
    <div class="topnav">
      <a href="#home">Home</a>
      <a href="#news">News</a>
      <a href="#contact">Contact</a>
      <a href="#about">About</a>
    </div>
  </div>
</div>  -->
<!-- 
<nav class="navbar navbar-expand-lg navbar-custom sticky-top nav-container" (scroll)="onWindowScroll($event);">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
          <a class="nav-link" href="#">Features</a>
          <a class="nav-link" href="#">Pricing</a>
        </div>
      </div>
    </div>
  </nav> -->
 
  <!-- <div class="dummy">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis repellendus dolorem nesciunt totam accusamus illo, necessitatibus eum velit possimus deserunt, inventore numquam consequuntur magni et voluptatem accusantium earum blanditiis.
  </div> --> 
<!-- 
   <div class="bg-img">
    <div class="container">
      <div class="topnav">
        <a href="#home">Home</a>
        <a href="#news">News</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
      </div>
    </div>
  </div>  -->

  <!-- <nav class="navbar navbar-expand-lg navbar-custom sticky-top container" (scroll)="onWindowScroll($event);">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
          <a class="nav-link" href="#">Features</a>
          <a class="nav-link" href="#">Pricing</a>
        </div>
      </div>
    </div>
  </nav>  -->

  <!-- <div class='abs'>

  </div> -->
<div class='jumbotron text-center'>
  <section id="haeader">
    <nav class="navbar navbar-expand-lg ">
        <a class="navbar-brand" href="#">GoodReads</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
         aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
         <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item">
              <a class="nav-link "  href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Books</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Categories</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="#" >Authors</a>
            </li>
            <div class="login d-flex mr-auto">
              <li class="nav-item ">
                <button type="button" class="btn btn-primary">Login</button>
              </li>
              <li class="nav-item mr-auto">
                <button type="button" class="btn btn-primary">Register</button>
              </li>
            </div>
          </ul>
        </div>
    </nav>
  </section>
  <div class='intro'>
   
    <h1>Get start Now</h1>
    <button type='button' class='btn btn-outline-light'>welcome</button>
  </div>
</div>

<div class="text-center spaces">
  <h1>_____________________________________________<br>
  ____________________________________________________</h1>

</div>


<div class='carousel-container'>
  <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide> <img src='https://aislinnoc.files.wordpress.com/2016/04/shatter-me-2.jpg' /> </ng-template>  
      <ng-template carouselSlide><img src='https://i.pinimg.com/236x/cd/b2/67/cdb2675366c9699fa0fcd9a79891c76d--cover-books-book-cover-design.jpg' /></ng-template>  
      <ng-template carouselSlide><img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQoijt_DFoJI5XSNqWkGqj0QEG5MBWwZtuAR2b6nCTJz0wRP1iZ4y7gDtOk3Lu6NG_9vU8&usqp=CAU' /></ng-template>  
      <ng-template carouselSlide><img src='https://i.pinimg.com/originals/e5/df/04/e5df04ec83281b3513c61694577e335c.jpg' /></ng-template>  
      <ng-template carouselSlide><img src='https://d1csarkz8obe9u.cloudfront.net/posterpreviews/contemporary-fiction-night-time-book-cover-design-template-1be47835c3058eb42211574e0c4ed8bf_screen.jpg?ts=1594616847' /></ng-template>  
      <ng-template carouselSlide><img src='https://i.pinimg.com/originals/8e/b9/63/8eb963b5794dd3f9aeb7cf19a59e659f.jpg' /></ng-template>  
      <ng-template carouselSlide><img src='https://i.pinimg.com/736x/d9/7c/51/d97c518471a161c6badd53b365ca55d6.jpg' /></ng-template>  
      <ng-template carouselSlide><img src='https://klacey.com/wp-content/uploads/2014/09/Old-Man-And-The-Sea-Book-Cover-Design-Kati-Lacey-Illustration.jpg' /></ng-template>  
    </owl-carousel-o>
</div>

<div class="text-center spaces">
  <h1>_____________________________________________<br>
  ____________________________________________________</h1>

</div>
 