
<div class='jumbotron text-center'>
  <section id="haeader">
    <nav class="navbar navbar-expand-lg ">
        <a class="navbar-brand" href="#">GoodReads</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
         aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
         <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item">
              <a class="nav-link "  href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Books</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Categories</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="#" >Authors</a>
            </li>
            <div class="login d-flex mr-auto">
              <li class="nav-item ">
                <button type="button" class="btn btn-primary">Login</button>
              </li>
              <li class="nav-item mr-auto">
                <button type="button" class="btn btn-primary">Register</button>
              </li>
            </div>
          </ul>
        </div>
    </nav>
  </section>
  <div class='intro'>
   
    <h1>Get start Now</h1>
    <button type='button' class='btn btn-outline-light'>welcome</button>
  </div>
</div>

<div class="text-center spaces">
  <h1>_____________________________________________<br>
  ____________________________________________________</h1>

</div>

<h1 class="section-title">Last Added Books</h1>
<div class='carousel-container'>
  <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide> <img src='https://aislinnoc.files.wordpress.com/2016/04/shatter-me-2.jpg' /> </ng-template>  
      <ng-template carouselSlide><img src='https://i.pinimg.com/236x/cd/b2/67/cdb2675366c9699fa0fcd9a79891c76d--cover-books-book-cover-design.jpg' /></ng-template>  
      <ng-template carouselSlide><img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQoijt_DFoJI5XSNqWkGqj0QEG5MBWwZtuAR2b6nCTJz0wRP1iZ4y7gDtOk3Lu6NG_9vU8&usqp=CAU' /></ng-template>  
      <ng-template carouselSlide><img src='https://i.pinimg.com/originals/e5/df/04/e5df04ec83281b3513c61694577e335c.jpg' /></ng-template>  
      <ng-template carouselSlide><img src='https://d1csarkz8obe9u.cloudfront.net/posterpreviews/contemporary-fiction-night-time-book-cover-design-template-1be47835c3058eb42211574e0c4ed8bf_screen.jpg?ts=1594616847' /></ng-template>  
      <ng-template carouselSlide><img src='https://i.pinimg.com/originals/8e/b9/63/8eb963b5794dd3f9aeb7cf19a59e659f.jpg' /></ng-template>  
      <ng-template carouselSlide><img src='https://i.pinimg.com/736x/d9/7c/51/d97c518471a161c6badd53b365ca55d6.jpg' /></ng-template>  
      <ng-template carouselSlide><img src='https://klacey.com/wp-content/uploads/2014/09/Old-Man-And-The-Sea-Book-Cover-Design-Kati-Lacey-Illustration.jpg' /></ng-template>  
    </owl-carousel-o>
</div>

<div class="text-center spaces">
  <h1>_____________________________________________<br>
  ____________________________________________________</h1>

</div>

<div class="row">
  <div class="col-8 curs">
    <div class='carousel-container-books'>
      <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide> <img src='https://aislinnoc.files.wordpress.com/2016/04/shatter-me-2.jpg' /> </ng-template>  
          <ng-template carouselSlide><img src='https://i.pinimg.com/236x/cd/b2/67/cdb2675366c9699fa0fcd9a79891c76d--cover-books-book-cover-design.jpg' /></ng-template>  
          <ng-template carouselSlide><img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQoijt_DFoJI5XSNqWkGqj0QEG5MBWwZtuAR2b6nCTJz0wRP1iZ4y7gDtOk3Lu6NG_9vU8&usqp=CAU' /></ng-template>  
          <ng-template carouselSlide><img src='https://i.pinimg.com/originals/e5/df/04/e5df04ec83281b3513c61694577e335c.jpg' /></ng-template>  
          <ng-template carouselSlide><img src='https://d1csarkz8obe9u.cloudfront.net/posterpreviews/contemporary-fiction-night-time-book-cover-design-template-1be47835c3058eb42211574e0c4ed8bf_screen.jpg?ts=1594616847' /></ng-template>  
          <ng-template carouselSlide><img src='https://i.pinimg.com/originals/8e/b9/63/8eb963b5794dd3f9aeb7cf19a59e659f.jpg' /></ng-template>  
          <ng-template carouselSlide><img src='https://i.pinimg.com/736x/d9/7c/51/d97c518471a161c6badd53b365ca55d6.jpg' /></ng-template>  
          <ng-template carouselSlide><img src='https://klacey.com/wp-content/uploads/2014/09/Old-Man-And-The-Sea-Book-Cover-Design-Kati-Lacey-Illustration.jpg' /></ng-template>  
        </owl-carousel-o>
    </div>
  </div>
  <div class="col-4 words">
    <h1 class="section-title">Popular Books</h1>
    <h3>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam alias quia deleniti sequi, omnis eligendi vel debitis quaerat fugit, nihil hic ut pariatur quisquam itaque rem tempora reiciendis architecto nulla.</h3>
  </div>
</div>
 
<div class="text-center spaces-b-curosel">
  <h1>_____________________________________________<br>
  ____________________________________________________</h1>

</div>

<div class="row">
  <div class="col-4 words">
    <h1 class="section-title">Popular Authors</h1>
    <h3>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam alias quia deleniti sequi, omnis eligendi vel debitis quaerat fugit, nihil hic ut pariatur quisquam itaque rem tempora reiciendis architecto nulla.</h3>
  </div>
  <div class="col-8">
    <div class='carousel-container-books'>
      <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide> <img src='https://aislinnoc.files.wordpress.com/2016/04/shatter-me-2.jpg' /> </ng-template>  
          <ng-template carouselSlide><img src='https://i.pinimg.com/236x/cd/b2/67/cdb2675366c9699fa0fcd9a79891c76d--cover-books-book-cover-design.jpg' /></ng-template>  
          <ng-template carouselSlide><img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQoijt_DFoJI5XSNqWkGqj0QEG5MBWwZtuAR2b6nCTJz0wRP1iZ4y7gDtOk3Lu6NG_9vU8&usqp=CAU' /></ng-template>  
          <ng-template carouselSlide><img src='https://i.pinimg.com/originals/e5/df/04/e5df04ec83281b3513c61694577e335c.jpg' /></ng-template>  
          <ng-template carouselSlide><img src='https://d1csarkz8obe9u.cloudfront.net/posterpreviews/contemporary-fiction-night-time-book-cover-design-template-1be47835c3058eb42211574e0c4ed8bf_screen.jpg?ts=1594616847' /></ng-template>  
          <ng-template carouselSlide><img src='https://i.pinimg.com/originals/8e/b9/63/8eb963b5794dd3f9aeb7cf19a59e659f.jpg' /></ng-template>  
          <ng-template carouselSlide><img src='https://i.pinimg.com/736x/d9/7c/51/d97c518471a161c6badd53b365ca55d6.jpg' /></ng-template>  
          <ng-template carouselSlide><img src='https://klacey.com/wp-content/uploads/2014/09/Old-Man-And-The-Sea-Book-Cover-Design-Kati-Lacey-Illustration.jpg' /></ng-template>  
        </owl-carousel-o>
    </div>
  </div>
</div>

<div class="text-center spaces">
  <h1>_____________________________________________<br>
  ____________________________________________________</h1>

</div>

<div class="row">
  <div class="col-8 curs">
    <div class='carousel-container-books'>
      <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide> <img src='https://aislinnoc.files.wordpress.com/2016/04/shatter-me-2.jpg' /> </ng-template>  
          <ng-template carouselSlide><img src='https://i.pinimg.com/236x/cd/b2/67/cdb2675366c9699fa0fcd9a79891c76d--cover-books-book-cover-design.jpg' /></ng-template>  
          <ng-template carouselSlide><img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQoijt_DFoJI5XSNqWkGqj0QEG5MBWwZtuAR2b6nCTJz0wRP1iZ4y7gDtOk3Lu6NG_9vU8&usqp=CAU' /></ng-template>  
          <ng-template carouselSlide><img src='https://i.pinimg.com/originals/e5/df/04/e5df04ec83281b3513c61694577e335c.jpg' /></ng-template>  
          <ng-template carouselSlide><img src='https://d1csarkz8obe9u.cloudfront.net/posterpreviews/contemporary-fiction-night-time-book-cover-design-template-1be47835c3058eb42211574e0c4ed8bf_screen.jpg?ts=1594616847' /></ng-template>  
          <ng-template carouselSlide><img src='https://i.pinimg.com/originals/8e/b9/63/8eb963b5794dd3f9aeb7cf19a59e659f.jpg' /></ng-template>  
          <ng-template carouselSlide><img src='https://i.pinimg.com/736x/d9/7c/51/d97c518471a161c6badd53b365ca55d6.jpg' /></ng-template>  
          <ng-template carouselSlide><img src='https://klacey.com/wp-content/uploads/2014/09/Old-Man-And-The-Sea-Book-Cover-Design-Kati-Lacey-Illustration.jpg' /></ng-template>  
        </owl-carousel-o>
    </div>
  </div>
  <div class="col-4 words">
    <h1 class="section-title">Popular Ctegories</h1>
    <h3>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam alias quia deleniti sequi, omnis eligendi vel debitis quaerat fugit, nihil hic ut pariatur quisquam itaque rem tempora reiciendis architecto nulla.</h3>
  </div>
</div>