
.navbar{
    overflow:hidden;
    background-color:maroon
  }

  .navbar-nav a{
    color:white;
    margin:0 20px;
    margin-top:30px;
    font-weight:bold;
    font-family: sans-serif;
  }

  .navbar-toggler{
    color: white !important;;
    border: none, im !important;;
    outline: none !important;
  }

  .navbar-toggler .fas{
    color:white;
    font-size:26px;
    
  }

  .nav-link:hover{
    font-weight: 600;
    border-bottom: 1px solid white;
    margin-bottom: -1px;
  }

  .login button{
    background: none;
    outline: none;
    border: none;
    font-size:large;
  }

  .login button:hover{
    background-color: rgb(14, 12, 12);
    border: none;
  }

  .navbar h1{
    color: #cac3c3;
    font-weight: bolder;
    font-family: cursive;
  }

  /* .navbar-inverse{
    background-color:black
  } */

  .login{
    margin-left: 35%;
    margin-top: 4%
  }

  .navbar-inverse{
      background-color:rgba(128, 0, 0, 0.795);
  }

  .search{
    margin-top: 18%;
    width: -moz-fit-content;
    border-radius: 10px!important;
    outline: none;
    border: none;
    padding-left: 30px;
    width:max-content
  }

  .input-group .fas{
    position: absolute;
    top: 60%;
    left: 5%;
    z-index: 5;
  }

  .logout button{
    background:none;
    outline:none;
    color : white;
    border:none;
    margin-top: 80%;
    font-size: x-large;
  }