
<nav class="navbar navbar-expand-lg fixed-top" (scroll)="onWindowScroll($event);">
  <h1>GoodReads</h1>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
   aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
   <i class="fas fa-bars"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <a class="nav-link "  href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Books</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Categories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#" >Authors</a>
      </li>
  
      <form class="d-flex form-inline my-2 my-lg-0 searchbox" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
        <input formControlName='searchVal' class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-light my-2 my-sm-0" type="submit" (click)="open(mymodal)">Search</button>
    </form>
    <ng-template #mymodal let-modal>
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Search Results</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
          </div>
          <div class="modal-body">
  
  
              <app-books [books]="filteredList">
  
              </app-books>
          </div>
      </div>
  </ng-template>
  
      <div class="login d-flex mr-auto justify-content-around">
        <li class="nav-item ">
          <button type="button" class="btn btn-primary ">Login</button>
        </li>
        <li class="nav-item mr-auto">
          <button type="button" class="btn btn-primary">Register</button>
        </li>
      </div>
    </ul>
  </div>
</nav>

