img {
  width: 130px;
  height: auto;
}
h2 {
  font-size: 40px;
  /* font-weight: bold; */
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  /* font-family: "Lucida Console", "Courier New", monospace; */
}
.header {
  height: 200px;
}
.headerText {
  /* color: #3fa3e4; */
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 40%;
  padding: 20px;
  text-align: center;
}
/* .cont {
  top: 30%;
  left: 0%;
  width: 100%;
  position: fixed;
} */
a {
  text-decoration: none;
}
.popular-books,
.all-books {
  background-color: #1a1e21;
  padding: 5px;
  margin: auto;
  text-align: left;
  border-radius: 20px;
  margin: 2rem auto;
  overflow: hidden;
}
.card {
  background-color: transparent;
  /* border: none; */
}
.bookCover {
  cursor: pointer;
  max-width: 100%;
  height: auto;
  margin: 0px;
  text-align: center;
}
.bookCover:hover {
  transform: scale(1.05);
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06); */
}
hr {
  /* width: 660px; */
  /* border-radius: none; */
  /* width: auto; */
}
.text {
  color: white;
}
